/* Genaral ------------------------------ */
body{
    background-color: rgb(24, 24, 24);
}

header{
    background-color: rgb(24, 24, 24);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    overflow: hidden;    
    text-wrap: nowrap;
}

h1, h2 ,h3 ,a{
    font-family: 'Source Sans Pro', sans-serif;
    
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a{
    font-size: large;

}

#home-title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 10px;
}

/* nav ------------------------------ */
.nav-link{
    font-size: larger;
    text-decoration: none;
    color: black;
    

}

.yellow-box{
    background-color: rgb(238, 221, 65);
    position: relative;
    height: 80px;
    padding: 30px;
    margin-right: 5px
       
}

.yellow-box:hover{
    background-color: rgb(239, 233, 119);
}

.yellow-box-title{
    background-color: rgb(238, 221, 65);
    position: relative;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 5px
       
}

.yellow-box-end{
    background-color: rgb(238, 221, 65);
    position: relative;
    height: 80px;
    width: 100%;

       
}

nav{
    display: flex;
}

/**/

.main-content{
    margin: auto;
    margin-top: 80px;
    max-width: 1400px;
    width: 80%;

}

/* colours -----------------------*/

.blue{
    background-color: rgb(33, 111, 206);
}

.white-text{
    color: #fff;
}
/* grids -----------------------*/

#home-grid{
    display: grid;
    grid-template-areas:
                        'Title Title Title' 
                        'box1 box1 box2' ;
}

#home-item2{    grid-area: box1;}
#home-item3{    grid-area: box2;}
#home-item1{    grid-area: Title;}

/* Buttons -----------------------*/

.btn{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: rgb(33, 111, 206);
padding: 10px 30px;
border-radius: 50px;
border: 0px;
transition : 1222ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1222ms;
padding: 10px 50px;
transform : translateY(-6px);
background-color: rgb(238, 221, 65);
color: rgb(0, 0, 0);
}
/* text boxes -----------------------*/

.image-box-curved{
    border-radius: 15px;
    width: fit-content;
}
.text-box{
    padding: 20px;
    margin: 15px;
    border-radius: 30px;
}

.Centered-text{
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/**/

.image-fill{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* user experience page  ------------------------------ */

.intro
{
    gap: 10px; 

}

.intro-1
{
    padding: 10px;
}

.intro-1 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
}

.intro-1 p
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.benefits
{
    gap: 10px; 
}

.benefits h1
{
    text-align: center;
    font-size: 35px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
}

.benefits h2
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.benefits p1
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.benefits h3
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.benefits p2
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.benefits h4
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.benefits p3
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Key-Components-of-UX
{
    gap: 10px; 
}

.Key-Components-of-UX h1
{
    text-align: center;
    font-size: 35px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
}

.Key-Components-of-UX h2
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Key-Components-of-UX p1
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Key-Components-of-UX h3
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Key-Components-of-UX p2
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Key-Components-of-UX h4
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Key-Components-of-UX p3
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Key-Components-of-UX h5
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Key-Components-of-UX p4
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Key-Components-of-UX h6
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Key-Components-of-UX p5
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Approach
{
    gap: 10px; 
}

.Approach h1
{
    text-align: center;
    font-size: 35px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
}

.Approach h2
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Approach p1
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Approach h3
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Approach p2
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Approachh4
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family:'Source Sans Pro', sans-serif;
    color: yellow;
    padding-top: 20px;
}


.Approach p3
{
    text-align: left;
    font-size: 20px;/*size*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/**/

